<%- include('./utils/start.ejs') %>
</head>
<%- include('./utils/header.ejs') %>
<body class="body">
    <div class="pageContentWrapper">
        hii
    </div>
</body>
<%- include('./utils/footer.ejs') %>

</html>
