<%- include('./utils/start.ejs') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="/css/general/swipperJs.css">
</head>
<%- include('./utils/header.ejs') %>
<body class="body">
    <div class="pageContentWrapper">
        <%- include('./utils/swipper.ejs') %>
    </div>
</body>
<%- include('./utils/footer.ejs') %>

</html>
