@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Special+Gothic+Expanded+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    position: relative;
}
html::-webkit-scrollbar{
    display: none;
}
.normalButtonCss{
    border: none;
    border-radius: 0.75rem;
    background: white;
    color: #970747;
    padding: 0.35rem 1rem;
    cursor: pointer;
    border: 1px solid white;
}
.normalButtonCss:active{
    background-color: aliceblue;
}

.rowdies-light {
    font-family: "Rowdies", sans-serif;
}
.rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.commonCss{
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}
.resetBtnCss{
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid rgb(255, 0, 0);
}
.resetBtnCss:hover,.resetBtnCss:active{
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid red;
}
.submitBtnCss{
    background-color: rgba(0, 128, 0, 0.2);
    border: 1px solid green;
}
.submitBtnCss:hover,.submitBtnCss:active{
    background-color: rgba(0, 128, 0, 0.3);
    border: 1px solid green;
}

textarea{
    resize: none;
}

/* vertical scroll */
.tabbedContentDataHolder::-webkit-scrollbar{
  width: 3px;
}
  
.tabbedContentDataHolder::-webkit-scrollbar-track{
    background: #00000074;
    border-radius: 5px;
}
  
.tabbedContentDataHolder::-webkit-scrollbar-thumb{
    border-radius: 5px;
}

/* horizontal Scroll */
.navigationTipWrapper::-webkit-scrollbar{
    height: 3px;
}
.navigationTipWrapper::-webkit-scrollbar-track{
    background-color: rgba(174, 217, 255, 0.382);
    border-radius: 5px;
}
.navigationTipWrapper::-webkit-scrollbar-thumb{
    height: 3px;
}