<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/general/general.css">
    <script>
        const url = '<%= hostURI %>';
        const redirectTo = '<%= redirectTo %>';
    </script>
    <script src="/scripts/generalScripts.js"></script>
    <link rel="stylesheet" href="/css/general/header.css">